In [27]:
import numpy as np
import pandas as pd

#### Reading the datasheet

In [28]:
Laliga_data = pd.read_csv("Laliga.csv", sep = ',', header=1)

In [29]:
print("Printing the tail\n",Laliga_data.tail())

Printing the tail
     Pos              Team  Seasons Points GamesPlayed GamesWon GamesDrawn  \
56   57             Xerez        1     34          38        8         10
57   58            Condal        1     22          30        7          8
58   59   Atletico Tetuan        1     19          30        7          5
59   60  Cultural Leonesa        1     14          30        5          4
60   61            Girona        1      -           -        -          -

   GamesLost GoalsFor GoalsAgainst Champion Runner-up Third Fourth Fifth  \
56        20       38           66        -         -     -      -     -
57        15       37           57        -         -     -      -     -
58        18       51           85        -         -     -      -     -
59        21       34           65        -         -     -      -     -
60         -        -            -        -         -     -      -     -

   Sixth  T    Debut Since/LastApp  BestPosition
56     -  -  2009-10       2009-10            20
57     -  -  1956-57       1956-57            16
58     -  -  1951-52       1951-52            16
59     -  -  1955-56       1955-56            15
60     -  -  2017-18       2017-18             9

#### Replacing '-' with zeros

In [30]:
Laliga_subset = Laliga_data.drop(['Seasons','Pos','Team', 'Debut' , 'Since/LastApp'], axis = 1)

In [31]:
Laliga_subset = Laliga_subset.replace({'-':0}).astype(int)

In [32]:
clmns = Laliga_subset.columns
for i in range(len(clmns)):
    Laliga_data[clmns[i]] = Laliga_subset[clmns[i]]

In [33]:
Laliga_subset = []
print("Printing the tail\n",Laliga_data.tail())

Printing the tail
     Pos              Team  Seasons  Points  GamesPlayed  GamesWon  GamesDrawn  \
56   57             Xerez        1      34           38         8          10
57   58            Condal        1      22           30         7           8
58   59   Atletico Tetuan        1      19           30         7           5
59   60  Cultural Leonesa        1      14           30         5           4
60   61            Girona        1       0            0         0           0

    GamesLost  GoalsFor  GoalsAgainst  Champion  Runner-up  Third  Fourth  \
56         20        38            66         0          0      0       0
57         15        37            57         0          0      0       0
58         18        51            85         0          0      0       0
59         21        34            65         0          0      0       0
60          0         0             0         0          0      0       0

    Fifth  Sixth  T    Debut Since/LastApp  BestPosition
56      0      0  0  2009-10       2009-10            20
57      0      0  0  1956-57       1956-57            16
58      0      0  0  1951-52       1951-52            16
59      0      0  0  1955-56       1955-56            15
60      0      0  0  2017-18       2017-18             9

###### To know Temas debut between 1930 and 1980

In [34]:
Laliga_debut = Laliga_data[['Team', "Debut"]]
for i in range(len(Laliga_debut['Debut'])):
    temp = Laliga_debut['Debut'][i].split('-')
    if(len(temp)>1):
        Laliga_debut['Debut'][i] = temp[0]

C:\Users\Star\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3325: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  exec(code_obj, self.user_global_ns, self.user_ns)

In [35]:
Laliga_debut['Debut'] = Laliga_debut['Debut'].astype(int)

C:\Users\Star\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [36]:
Laliga_debut = Laliga_data[(Laliga_debut['Debut'] >= 1930) & (Laliga_debut['Debut'] <= 1980)]

In [37]:
print("Teams debut between 1930 and 1980 are \n", Laliga_debut['Team'])
Laliga_debut = []

Teams debut between 1930 and 1980 are
 3                Valencia
5                 Sevilla
8                Zaragoza
9              Real Betis
10    Deportivo La Coruna
11             Celta Vigo
12             Valladolid
14         Sporting Gijon
15                Osasuna
16                 Malaga
17                 Oviedo
18               Mallorca
19             Las Palmas
21                Granada
22         Rayo Vallecano
23                  Elche
25               Hercules
26               Tenerife
27                 Murcia
28                 Alaves
29                Levante
30              Salamanca
31               Sabadell
32                  Cadiz
34              Castellon
37                Cordoba
39             Recreativo
40              Burgos CF
41             Pontevedra
46              Gimnastic
49               Alcoyano
50                   Jaen
52             AD Almeria
54                 Lleida
57                 Condal
58        Atletico Tetuan
59       Cultural Leonesa
Name: Team, dtype: object

##### Print the list of teams which came Top 5 in terms of points

In [38]:
sort_points = Laliga_data.sort_values(by=['Points'], ascending = False)
sort_points = sort_points.reset_index(drop=True)
print("List of teams which came Top 5 in terms of points \n",sort_points['Team'].head(5) )

List of teams which came Top 5 in terms of points
 0        Real Madrid
1          Barcelona
2    Atletico Madrid
3           Valencia
4    Athletic Bilbao
Name: Team, dtype: object

#### function with name “Goal_diff_count” which should return all the teams with their Goal Differences. Using the same function, find the team which has maximum and minimum goal difference

In [39]:
def Goal_diff_count():
    return Laliga_data['GoalsFor']-Laliga_data['GoalsAgainst']
Laliga_goal_diff = Laliga_data
Laliga_goal_diff['GoalDiff'] = Goal_diff_count()
Laliga_goal_diff = Laliga_goal_diff.sort_values(by=['GoalDiff'])
Laliga_goal_diff = Laliga_goal_diff.reset_index(drop=True)
Laliga_goal_diff.drop('GoalDiff', axis=1)
print("Minimum goal difference is \n",list(Laliga_goal_diff['Team'].head(1)))
print("Maximum goal difference is \n",list(Laliga_goal_diff['Team'].tail(1)))

Minimum goal difference is
 ['Racing Santander']
Maximum goal difference is
 ['Real Madrid']

#### Create a new column with name “Winning Percent” and append it to the data set

In [40]:
Laliga_data['Winning Percent'] = ((Laliga_data['GamesWon'] / Laliga_data['GamesPlayed'])*100)

In [41]:
Laliga_data['Winning Percent'].tail()

56    21.052632
57    23.333333
58    23.333333
59    16.666667
60          NaN
Name: Winning Percent, dtype: float64

In [42]:
Laliga_data.replace({np.nan:0}).tail()

,Pos,Team,Seasons,Points,GamesPlayed,GamesWon,GamesDrawn,GamesLost,GoalsFor,GoalsAgainst,...,Third,Fourth,Fifth,Sixth,T,Debut,Since/LastApp,BestPosition,GoalDiff,Winning Percent
56,57,Xerez,1,34,38,8,10,20,38,66,...,0,0,0,0,0,2009-10,2009-10,20,-28,21.052632
57,58,Condal,1,22,30,7,8,15,37,57,...,0,0,0,0,0,1956-57,1956-57,16,-20,23.333333
58,59,Atletico Tetuan,1,19,30,7,5,18,51,85,...,0,0,0,0,0,1951-52,1951-52,16,-34,23.333333
59,60,Cultural Leonesa,1,14,30,5,4,21,34,65,...,0,0,0,0,0,1955-56,1955-56,15,-31,16.666667
60,61,Girona,1,0,0,0,0,0,0,0,...,0,0,0,0,0,2017-18,2017-18,9,0,0.000000

###### Group teams based on their “Best position” and print the sum of their points for all positions

In [43]:
best_position = Laliga_data[['Team', 'Points','BestPosition']]
best_position.sort_values(by=['BestPosition'], inplace=True)
best_position = best_position.reset_index(drop=True)

C:\Users\Star\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [44]:
temp_position = best_position['BestPosition'][0]
total_sum = 0
print("Best Position\tPoints")
for i in range(len(best_position['BestPosition'])):
    if best_position['BestPosition'][i] == temp_position:
        total_sum += best_position['Points'][i]
    else:
        print("\t",temp_position,"\t",total_sum)
        temp_position = best_position['BestPosition'][i]
        total_sum = best_position['Points'][i]
        
print("\t",temp_position,"\t",total_sum)
best_position = []

Best Position	Points
	 1 	 27933
	 2 	 6904
	 3 	 5221
	 4 	 6563
	 5 	 1884
	 6 	 2113
	 7 	 1186
	 8 	 1134
	 9 	 96
	 10 	 450
	 11 	 445
	 12 	 511
	 14 	 71
	 15 	 14
	 16 	 81
	 17 	 266
	 19 	 81
	 20 	 34